.DS_Store
*/.DS_Store

key.json
secrets.yml
vault.key

packer/variables.json
packer/immutable_var.json

*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/

**/backend.tf

*.retry

jdauphant.nginx
