cloud_id  = "ab..z"
folder_id = "ab..z"
image_id  = "ab..z"
subnet_id = "ab..z"

zone = "ru-central1-a"

public_key_path          = ""
private_key_path         = ""
service_account_key_file = ""

app_disk_image = "ab..z"
db_disk_image  = "ab..z"
